@font-face {
    font-family: 'titleFont';
    src: url(Addendum13.ttf);
}

body {
  padding: 50px;
  /*font: 14px titleFont, "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'titleFont';
}

a {
  color: #00B7FF;
}